<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %} {% endblock %} - Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/style.css') }}">
    {% endblock %}
</head>
<body>
    <div class = header>
        <h1>Present on all pages extending from base.</h1>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('register') }}">Register</a>
        <a href="{{ url_for('login') }}">Login</a>
    </div>
    {% block body %}
    {% endblock %}
</body>
</html>